* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario-container {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 900px;
}

.coluna-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0033A0;
    color: white;
}

.coluna-1 img {
    width: 100%;
    border-radius: 10px;
}

.words {
    margin-top: 20px;
    text-align: center;
}

.coluna-2 {
    flex: 1;
    padding: 20px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-1, .btn-2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-1 {
    background-color: #0033A0;
    color: white;
}

.btn-2 {
    background-color: #FFD700;
    color: #0033A0;
}

.btn-1:hover {
    background-color: #0059ff;
}

.btn-2:hover {
    background-color: #FFC107;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.formulario-inputs {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.campo-input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    transition: border-color 0.3s;
}

.campo-input:focus {
    border-color: #0033A0;
    outline: none;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-submit {
    background-color: #0033A0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.input-submit:hover {
    background-color: #0059ff;
}

.esqueceu-senha {
    text-align: right;
    margin-bottom: 10px;
}

.social-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-login i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.social-login i:hover {
    color: #0033A0;
}

#resultado, #resultado2 {
    margin-top: 10px;
    text-align: center;
    color: red;
}